
# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules
bower_components
/vendor/

# Debug log from npm
npm-debug.log

# JetBrains files
.idea

# Build folder
build

# Vagrant folder
/.vagrant/
