
<a href="https://author.learnosity.com/org/1/activity/516294/edit">Edit these questions</a>

<div id="learnosity_assess"></div>

<script>
    var initOpts = {{{ initOpts }}};
    var itemsApp = LearnosityItems.init(initOpts);
</script>

<!--
  vim: ft=html
-->
