<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.min.css' />
  </head>
  <body>
    <script src="//questions.learnosity.com"></script>
    <script src="//assess.learnosity.com"></script>
    {{{body}}}
  </body>
</html>

<!--
    vim: ft=html
-->
